
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]emp/
[Tt]mpset/


wwwroot/uploads/
wwwroot/uploads/*


*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3


.vscode/
.vs/
*.user
*.userosscache
*.sln.docstates


.DS_Store
Thumbs.db
ehthumbs.db


appsettings.Development.json
secrets.json


ScaffoldingReadMe.txt